@charset "utf-8";

.wrap{width:100%; height:100vh; background:#FFF; display:flex; position: relative;}




#header{width:15%; height:100%;position: relative;}

/* 클릭시 상세페이지 나옴 */
.con_bg{position:fixed; background:rgba(0, 0, 0, 0.308); z-index:90; width:100%; height:100vh; display:none;}
.contents{width:70%; height:100vh;
    position:absolute; top:80px; left:290px; 
    z-index:100;  display:none;}
    
.contents img{width:100%;}

/* 클릭시 상세페이지 나옴 end */

/* menu_plus_bg */
.menu_plus_bg{position:fixed; background:rgba(0,0,0,0.7); z-index:90; width:100%; height:100%; display:none;}
.p_contents{width:750px; height:750px; background:#fff;
position:absolute; top:50%; left:50%; border-radius:20px;
z-index:100; transform:translate(-50% , -50%); display:none;}
.p_text{height:60px; border-bottom:2px solid #eee; text-align:center; line-height:65px; border-radius:20px 20px 0 0; width:100%; font-weight:bold; font-size:17px;}
.p_box{width:100%; height:730px;} 
.p_box>ul{width:100%; height:90%; display:flex; flex-wrap:wrap; align-content:center; text-align:center;}
.p_box>ul>li{width:100%; margin:10px 0;}
.p_box>ul>li>p{font-size:20px;}
.p_box img{width:150px; height:150px;}
.p_box button{color:#fff; background:#7925E4; padding:10px 20px; border-radius:15px; font-weight:bold;}



/* menu wrap start */
.menu_wrap{width:100%; height:100%; padding:0 30px; box-sizing:border-box; position:absolute; top:0; left:0; background:#fff; border-right:1px solid #dedede; z-index:2;}
.logo{width:100%; height:100px; display:flex; align-items:center; justify-content:center;}
.logo img{width:220px;}
.menu{width:100%; height:480px;}
.menu>ul{width:100%; height:480px;}
.menu>ul>li{width:100%; height:70px;}
.menu>ul>li>a{display:flex; width:100%; height:100%; align-items:center; padding:0 20px; box-sizing:border-box; border-radius:10px;}
.menu>ul>li>a>img{width:25px; height:25px;}
.menu>ul>li>a:hover{background:#eee;}
.menu>ul>li>a>p{margin-left:20px;}
.menu_plus{width:100%; height:100px;}
.menu_plus>li{text-align:center; width:150px; height:50px; line-height:50px; border-radius:50px; font-size:17px; background: #4d00b1; color:#fff; margin:0 50px;}

/* mobile_menu */
.mobile_menu{width:20%; height:100%; padding:0 20px; display:flex; flex-wrap:wrap; align-content:space-between; border-right: 1px solid #dedede; position: absolute; top: 0; left: 0; background: #fff; display:none;}
.mobile_menu .logo{width:100%; height:90px; display:flex; align-items:center; justify-content: center;}
.mobile_menu .logo img{width:70px;}
.mobile_menu .menu{width:100%; height:580px;}
.mobile_menu .menu>ul{width:100%; height:100%;}
.mobile_menu .menu>ul>li{width:100%; height:70px;}
.mobile_menu .menu>ul>li>a{display:flex; width:100%; height:100%; align-items:center; padding:0 15px; box-sizing:border-box; border-radius:10px;} 
.mobile_menu .menu>ul>li>a:hover{background:#eee;}
.mobile_menu .menu>ul>li>a>p{display:none;}
.mobile_menu .menu_plus{display:none;}




/* search wrap start */
.search_wrap{width:350px; height: 100vh; border-right: 1px solid #dedede; border-radius: 0 10px 10px 0; box-shadow: 5px 0 10px #eee; position: absolute; top: 0; left: -400px; background: #fff; z-index:3;}
.search{width: 100%; height: 17vh; border-bottom: 1px solid #dedede; padding: 0 20px; box-sizing: border-box;}
.search>form{width: 100%; height: 100%;}
.search>form>ul{width: 100%; height: 100%;}
.search>form>ul>li{width: 100%; height: 75px; line-height: 75px; display: flex; align-items: center;}
.search>form>ul>li>p{font-size: 25px; font-weight: bold;}
.search>form>ul>li>input{display: block; width: 100%; height: 35px; background: #eee; border: none; padding: 0 10px; box-sizing: border-box; border-radius: 5px;}
.search_list{width: 100%; height: 83vh; padding: 0 20px; box-sizing: border-box; display: flex; flex-wrap: wrap;}
.search_list>p{font-size: 18px; font-weight: bold; color: #333; line-height: 50px; width: 100%;}
.search_list>.center{text-align: center; color: #777; font-size: 16px;}




/* contents start */
#contents{width:70%; height:100%;}
.main_wrap{width:100%; height:100%; margin:0 auto; overflow:scroll; overflow-x:hidden;}

.main_wrap::-webkit-scrollbar{display:none;}


/* con1 start */
.con1{width:70%; height:auto; margin:0 auto; }
.con1>ul{width:100%; display:flex; padding-top:30px; box-sizing:border-box;}
.con1>ul>li:first-child{width:40px; height:40px; overflow:hidden; border-radius:100%; border:1px solid #dedede; display:flex; align-items: center; justify-content:center; margin-right:10px;}
.con1>ul>li:first-child img{width:100%; height:100%;}
.con1>ul>li{line-height:40px;}

.con1_imgbox{width:100%; height:100%; background:#eee;}
.con1_img{width:100%; height:420px; margin:10px 0; position: relative;}
.con1_img img{width:100%; height:420px;}

.con1_icon{position:absolute; top:0; left:750px; z-index: 10;}
.con1_icon img{width:50px; height:50px;}

.con1_txt{width:100%; height:50px; display:flex;}
.text{width:85%;}
.text>li>p{font-weight:bold;}
.icon{width:15%; display:flex; justify-content:flex-end;}
.icon>li{padding:0 5px;}
.icon>li>img{width:25px; height:25px;}


/* con2 start */
.con2{width:70%; height:auto; margin:0 auto; margin-top:20px; display:flex;}
.con2_left{width:50%; margin-right:30px; box-sizing:border-box;}
.con2_left_img img{width:100%; margin-bottom:10px;}
.con2_left_txt{width:100%; height:50px; display:flex;}
.text{width:70%;}
.text>li>span{color:#565656; font-size:14px;}
.icon{width:30%; display:flex; justify-content:flex-end;}
.icon>li{padding:0 5px;}
.icon>li>img{width:25px; height:25px;}


.con2_right{width:50%; height:420px;}
.con2_right_img img{width:100%; margin-bottom:10px;}
.con2_right_txt{width:100%; height:50px; display:flex;}
.text{width:85%;}
.text>li>span{color:#6d6d6d; font-size:14px;}
.icon{width:15%; display:flex; justify-content:flex-end;}
.icon>li{padding:0 5px;}
.icon>li>img{width:25px; height:25px;}

/* con3 start */
.con3{width:70%; height:auto; margin:0 auto; margin-top:20px; display:flex;}
.con3_left{width:50%; margin-right:30px; box-sizing:border-box;}
.con3_left_img img{width:100%; margin-bottom:10px;}
.con3_left_txt{width:100%; height:50px; display:flex;}
.text{width:70%;}
.text>li>span{color:#565656; font-size:14px;}
.icon{width:30%; display:flex; justify-content:flex-end;}
.icon>li{padding:0 5px;}
.icon>li>img{width:25px; height:25px;}


.con3_right{width:50%; height:420px;}
.con3_right_img img{width:100%; margin-bottom:10px;}
.con3_right_txt{width:100%; height:50px; display:flex;}
.text{width:85%;}
.text>li>span{color:#6d6d6d; font-size:14px;}
.icon{width:15%; display:flex; justify-content:flex-end;}
.icon>li{padding:0 5px;}
.icon>li>img{width:25px; height:25px;}


/* footer start */
#footer{width:15%; height:100%;}
.connect_wrap{width:100%; height:100%; box-sizing:border-box; padding:0 30px;}
.mypage{width:100%; height:40%; padding-top:80px; box-sizing:border-box;}
.mypage>ul{text-align:center;}
.mypage>ul>li{padding:5px 0;}
.mypage>ul>li>p{font-weight:bold; font-size:20px;}
.mypage>ul>li>span{color:#252525;}
.mypage>ul>li>img{width:170px; height:170px; border-radius:100%;}

.my_plus{width:100%; height:20%;}
.my_plus>ul{width:100%; display:flex; justify-content:center;}
.my_plus>ul>li{text-align:center; width:150px; height:50px; line-height:45px; border-radius:50px; font-size:17px; border:1px solid #D4D4D4; margin: 0 5px;
box-sizing:border-box;}
.my_plus>ul>li.on{background:#4d00b1; color:#fff;}

/* 좋아요, 저장하기 css */
.hate,.save{display:none;}




